<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>OJ系统</title>
		<link rel="icon" href="../images/ques.ico" type="image/x-icon">
    	<!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
    	<link rel="stylesheet" href="css/basic.css">
		<script>
			function changeImage() {
  				document.getElementById('results').src = '../images/Accepted.jpg';
  				document.getElementById('results').style="height:30";
			}
		</script>
	</head>
	<!--<body style="background-image: url('images/blue.jpg');background-repeat: no-repeat;background-size:cover;">-->
	<body>
		<div style="height:50px;width:1400px">
			<img src="images/XINGJI_nab.png" style="height:50px;margin-top:0px;margin-left:0px"/>
			<button onclick="location.href='/login_main_page {{username}}'" class="round" style="background-image: url('images/u1.png');background-size: cover;width:70px;height:35px;border:0"></button>
			<button onclick="location.href='/problems {{username}}'" class="round" style="background-image: url('images/u2.png');background-size: cover;width:70px;height:35px;border:0"></button>
			<button onclick="location.href='/rank_page {{username}}'" class="round"  style="background-image: url('images/u4.png');background-size: cover;width:70px;height:35px;border:0"></button>
		</div>
		

		<h1></h1>
		<div style="background-color:#EEEEEE;height:20px;width:1455px;"></div>
		<div style="background-color:#EEEEEE;height:630px;width:1455px;">
			<div style="background-color:#FFFFFF;height:65px;width:720px">
				<div style="background-color:#FFFFFF;height:20px;width:720px"></div>
				<span style="">T1001 走楼梯</span>
			</div>
			<div style="background-color:#EEEEEE;height:2px;width:720px;"></div>
			<div style="background-color:#FFFFFF;height:30px;width:720px">
				<span style="color:pink">入门+ </span>
				<span style="color:black"> 时间限制 1000MS</span>
			</div>
			<div style="background-color:#FFFFFF;height:543px;width:720px">
				<span>小鹿上楼梯，一步可以迈1个台阶或者2个台阶，现共有n个台阶，请编写程序计算小鹿上到第n个台阶共有几种走法。</br>题目输入n，输出方法数。</span>
				<h1>__________________________________________________</h1>
				<div style="background-color:#DDFFFF;height:260px;width:300px">
					<span>样例输入:</span>
					<h5></h5>
					<textarea style="width: 294px; height: 212px;" resize: none;>3</textarea>
				</div>
				<div style="background-color:#DDFFFF;height:260px;width:300px" class="outputyl">
					<span>样例输出:</span>
					<h5></h5>
					<textarea style="width: 294px; height: 212px;" resize: none;>3</textarea>
				</div>
			</div>
			<div style="background-color:#FFFFFF;height:543px;width:720px;"class="div-class">
				
    			<form action="/submitstairs.cpp C++ 1001" method="post">
        			<textarea class="code-editor" name="code"></textarea>
        			<input type="submit" value="" style="background-image: url('images/submit.png');background-size: cover;width:93px;height:40px;border:0">
    			</form>
				<img id="results" class="accepted-class" style="height:30" />
			</div>
		</div>
	</body>
</html> 