<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>OJ系统</title>
		<link rel="icon" href="../images/ques.ico" type="image/x-icon">
    	<!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
    	<link rel="stylesheet" href="css/basic.css">
		<script>
			function changeImage() {
  				document.getElementById('results').src = '../images/Accepted.jpg';
  				document.getElementById('results').style="height:30";
			}
		</script>
	</head>
	<!--<body style="background-image: url('images/blue.jpg');background-repeat: no-repeat;background-size:cover;">-->
	<body>
		<div style="height:50px;width:1400px">
			<img src="images/XINGJI_nab.png" style="height:50px;margin-top:0px;margin-left:0px"/>
			<button onclick="location.href='/login_main_page {{username}}'" class="round" style="background-image: url('images/u1.png');background-size: cover;width:70px;height:35px;border:0"></button>
			<button onclick="location.href='/problems {{username}}'" class="round" style="background-image: url('images/u2.png');background-size: cover;width:70px;height:35px;border:0"></button>
			<button onclick="location.href='/rank_page {{username}}'" class="round"  style="background-image: url('images/u4.png');background-size: cover;width:70px;height:35px;border:0"></button>
		</div>
		

		<h1></h1>
		<div style="background-color:#EEEEEE;height:20px;width:1455px;"></div>
		<div style="background-color:#EEEEEE;height:630px;width:1455px;">
			<div style="background-color:#FFFFFF;height:65px;width:720px">
				<div style="background-color:#FFFFFF;height:20px;width:720px"></div>
				<span style="">T1003 公交换乘</span>
			</div>
			<div style="background-color:#EEEEEE;height:2px;width:720px;"></div>
			<div style="background-color:#FFFFFF;height:30px;width:720px">
				<span style="color:green">普及 </span>
				<span style="color:black"> 时间限制 1000MS</span>
			</div>
			<div style="background-color:#FFFFFF;height:543px;width:720px">
				<span>著名旅游城市 B 市为了鼓励大家采用公共交通方式出行，推出了一种地铁换乘公交车的优惠方案：
1.在搭乘一次地铁后可以获得一张优惠票，有效期为 45 分钟，在有效期内可以消耗这张优惠票，免费搭乘一次票价不超过地铁票价的公交车。在有效期内指开始乘公交车的时间与开始乘地铁的时间之差小于等于 45 分钟，即： T bus - T subway≤45</br>
2.搭乘地铁获得的优惠票可以累积，即可以连续搭乘若干次地铁后再连续使用优惠票搭乘公交车。</br>
3.搭乘公交车时，如果可以使用优惠票一定会使用优惠票；如果有多张优惠票满足条件，则优先消耗获得最早的优惠票。</br>
现在你得到了小轩最近的公共交通出行记录，你能帮他算算他的花费吗?</span>
				<h1>__________________________________________________</h1>
				<div style="background-color:#DDFFFF;height:260px;width:300px">
					<span>样例输入:</span>
					<h5></h5>
					<textarea style="width: 294px; height: 212px;" resize: none;>6
0 10 3
1 5 46
0 12 50
1 3 96
0 5 110
1 6 135</textarea>
				</div>
				<div style="background-color:#DDFFFF;height:260px;width:300px" class="outputyl">
					<span>样例输出:</span>
					<h5></h5>
					<textarea style="width: 294px; height: 212px;" resize: none;>36</textarea>
				</div>
			</div>
			<div style="background-color:#FFFFFF;height:543px;width:720px;"class="div-class">
				
    			<form action="/submittransfer.cpp C++ 1003" method="post">
        			<textarea class="code-editor" name="code"></textarea>
        			<input type="submit" value="" style="background-image: url('images/submit.png');background-size: cover;width:93px;height:40px;border:0">
    			</form>
				<img id="results" class="accepted-class" style="height:30" />
			</div>
		</div>
	</body>
</html> 