<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>OJ系统/登陆-注册</title>
    	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    	<link rel="stylesheet" href="css/basic.css">
	</head>
	<body>
		<img src="images/xingji_nab.png" style="height:50px"/>
		<button onclick="location.href='/main_page {{username}}'" class="round" style="background-image: url('images/u1.png');background-size: cover;width:70px;height:35px;border:0"></button>
		<button onclick="location.href='/problems  {{username}}'" class="round" style="background-image: url('images/u2.png');background-size: cover;width:70px;height:35px;border:0"></button>
		<button onclick="location.href='/login_page {{username}}'" class="round"  style="background-image: url('images/s3.png');background-size: cover;width:70px;height:35px;border:0"></button>
		<span id="username">{{username}}</span>
		<div style="width:1300px;height:702px">
			<img src="images/loginbackground.png" class="loginimage">
			<form action="/login">
				<input type="text" name="username" placeholder="请输入用户名" style="margin-left: 880px;position: absolute;margin-top: 228px;height:30px;width:240px">
				<input type="password" name="password" placeholder="请输入密码" style="margin-left: 860px;position: absolute;margin-top: 325px;height:30px;width:260px">
				<button style="background-image: url('images/login.png');background-size: cover;width:228px;height:50px;border:0;background-color:white;position:absolute;margin-left: 850px;margin-top: 500px"></button>
				<span style="color:red;margin-left: 780px;margin-top: 400px;position: absolute;">{{loginmsg}}</span>
			</form>

		</div>

	</body>
</html>